
body {
    text-align: center;
    background: lightgray;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.main-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(245, 245, 220);
    text-shadow: black 0 0 0.25em,
                     black 0 0 0.25em,
                     black 0 0 0.25em,
                     black 0 0 0.25em;
}

.main-header h1 {
    cursor: default;
}

.site-logo {
    position: absolute;
    left: 0;
    opacity: 0.65;
    transition: opacity 1s;
    outline: none;
    max-height: 4em;
}

.site-logo:hover,
.site-logo:focus {
    opacity: 1;
}

.site-logo img {
    max-height: 4em;
}

section {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}



/* CONTROL PANEL SECTION */

#control-panel {
    position: relative;
    padding: 0 5%;
    background: rgba(245, 245, 220, 0.5);
    box-sizing: border-box;
    width: 100%;
    border-radius: 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.375em;
    box-shadow: 0 0 1.5em 0.1em rgba(0, 0, 0, 0.5);
    border: 2px solid #6d6477;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.3em;
    width: 5rem;
    height: 3.125rem;
    box-sizing: border-box;
    background: rgba(238, 203, 163, 0.5);
    border-radius: 1.25rem;
    border: 2px solid #6d6477;
    outline: none;
    cursor: pointer;
}

.btn:focus {
    box-shadow: 0 0 0.5em 0.2em #fef88e;
}

.btn:active {
    box-shadow: inset 0 0 0.5em 0.2em #6d6477;
    font-size: 0.7em;
}



/* GAME FIELD SECTION */

#canvas-wrapper {
    margin-top: 7%;
    width: 471px;
    max-width: 100%;
    height: calc(90vw * 500 / 471);
    max-height: 500px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 5%;
    box-shadow: 0 0 2.5em 0.2em black,
                inset 0 0 2.5em 0.2em black;
    transition: box-shadow 1s ease-out;
}

#canvas-wrapper.hurt {
    box-shadow: 0 0 2.5em 0.7em crimson,
                inset 0 0 2.5em 0.2em crimson;
    transition: 0s;
}

canvas {
    position: absolute;
    max-width: 100%;
    top: calc(-46 / 500 * 100%);
    left: 0;
}

#select-scr-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.5s linear;
}

.select-text {
    position: absolute;
    width: 100%;
    color: #f5f5dc;
    font-weight: bold;
    font-size: 2em;
    top: calc(37% - 0.375em);
    background: linear-gradient(90deg, transparent, rgba(208, 209, 130, 0.7), transparent);
    text-shadow: black 0 0 0.25em,
                     black 0 0 0.25em,
                     black 0 0 0.25em,
                     black 0 0 0.25em;
}

.speed-window {
    position: absolute;
    left: 5%;
    bottom: 0.75%;
    padding: 0 1.7%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 10.2em;
    height: 5.5%;
    box-sizing: border-box;
    border: 2px solid #ffef90;
    border-radius: 1em;
    background: #254c2e;
    color: #f5f5dc;
}



/* SLIDE SECTION */

.scroll-wrapper-lb,
.scroll-wrapper-help {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    background: rgba(245, 236, 220, 0.9);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    border: 2px solid #6d6477;
    transition: height 0.5s ease-in-out;
}

.slide h2 {
    background: linear-gradient(90deg, transparent, rgb(238, 203, 163), transparent);
}



/* LEADERBOARD SECTION */

.leaderboard {
    height: 0;
    padding: 0 5%;
    display: none;
}

.leaderboard table {
    border-collapse: collapse;
    margin-bottom: 1.5em;
    width: 100%;
}

.leaderboard tr {
    height: 2em;
    vertical-align: middle;

}

.leaderboard tr td {
    border: 2px solid rgb(238, 203, 163);
    background: rgba(238, 203, 163, 0.2);
    box-sizing: border-box;
}

.leaderboard tr th:first-child,
.leaderboard tr th:last-child,
.leaderboard tr td:first-child,
.leaderboard tr td:last-child {
    border-left: none;
    border-right: none;
}



/* HELP SECTION */

.help {
    height: 0;
}

.help p {
    text-align: justify;
    text-indent: 1.5em;
    direction: ltr;
}

.help p:last-of-type {
    margin-bottom: 2em;
}

.wrapper-help {
    position: relative;
    padding: 0 2.2em 0 1.5em;
}

.wrapper-btn-close {
    position: absolute;
    height: 100%;
    right: 0.3em;
    top: -4em;
}

#btn-close-help {
    position: sticky;
}

.help a {
    transition: all 0.5s ease-out;
    border-bottom: 1px dashed black;
    text-decoration: none;
    color: black
}

.help a:hover {
    color: red;
    border-bottom: 1px solid red;
}

.help ul,
.help ol {
    text-align: justify;
    direction: ltr;
}

.help ul {
    padding-left: 1.5em;
}

.help li {
    margin-bottom: 0.4em;
}

.help ul li:last-of-type,
.help ol:last-of-type {
    margin-bottom: 1.5em;
}



/* FOOTER SECTION */

footer {
    position: absolute;
    bottom: 5px;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: black 0 0 0.25em,
                     black 0 0 0.25em,
                     black 0 0 0.25em,
                     black 0 0 0.25em;
}

.contacts {
    position: absolute;
    justify-content: space-between;
    right: 3vw;
    width: 12em;
}

.contacts a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 0.5em 0.05em black;
    transition: box-shadow 0.5s;
    outline: none;
}

.contacts a:hover,
.contacts a:focus {
    box-shadow: 0 0 0.5em 0.2em #fef88e,
        inset 0 0 0.25em 0.1em #fef88e;
}

.contacts img {
    max-height: 1.5em;
    max-width: 1.5em;
}



/* POP-UP SECTION */

.hidden {
    opacity: 0 !important;
    visibility: hidden;
}

.pop-up {
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.5s ease-in-out;

}

.close-icon {
    background: transparent;
    font-size: 0.8em !important;
    position: absolute;
    height: 2em;
    width: 2em;
    right: 1em;
    top: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #6d6477;
    opacity: 0.5;
}

.close-icon:hover,
.close-icon:focus {
    background: rgba(238, 203, 163, 0.5);
    opacity: 1;
}

.close-icon:active {
    box-shadow: inset 0 0 0.5em 0.2em #6d6477;
    background: rgb(238, 203, 163);
    opacity: 1;
}

.close-icon:hover  i {
    background: black;
}

.close-icon:active  i {
    font-size: 80%;
    background: black;
}

.close-icon i {
    position: absolute;
    display: block;
    width: 1.2em;
    height: 0.12em;
    background: #6d6477;
    top: calc(50% - 0.06em);
    left: calc(50% - 0.6em);
}

.close-icon i:first-of-type {
    transform: rotate(45deg);
}

.close-icon i:last-of-type {
    transform: rotate(-45deg);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 500px;
    max-width: 90vw;
    background: rgb(245, 236, 220);
    box-shadow: inset 0 0 0.5em 0.2em #6d6477,
                0 0 0.5em 0.2em rgba(245, 236, 220, 0.9);
    border-radius: 30px;
}

.results span {
    font-weight: bold;
}

.pop-up-header {
    display: inline-block;
    font-size: 1.5em;
    box-shadow: 0 -1px 0 0.2em rgb(245, 236, 220),
                0 0.2em 0.2em 0 #6d6477;
    margin-bottom: 0.5em;
}

#fin-score {
    font-weight: bold;
}

.print-your-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em 0;
    width: 18em;
    max-width: 90%;
}

#input-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    height: 3.5em;
    max-width: 70%;
    border: 2px solid #6d6477;
    box-sizing: border-box;
    border-radius: 40px;
    outline: none;
    padding: 0 1em;
    text-align: center;
}

#input-name:focus {
    box-shadow: 0 0 0.5em 0.2em #fef88e;
}

#btn-submit {
    margin-left: 5%;
    height: 2.8rem;
}
